@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import "tailwindcss";


@layer base {
  @font-face {
    font-family: 'Lief';
    src: url('./assets/fonts/Lief.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  html, body {
    font-family: 'Lief', sans-serif;
  }
}

body {
  cursor: url("/images/1.png"), auto;
}


